<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="Registros\nlog-internal.log">

  <!-- Aqui es donde se crearan los docuemntos con los logs -->
  <targets>
    <target xsi:type="File" name="all_logs" fileName="Registros\all_logs.txt" />
	<target xsi:type="File" name="relevant_logs" fileName="Registros\relevant_logs.txt" />
  </targets>

  <!-- Aqui son las reglas de que se va a guarcar e cada uno de los logs -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="all_logs"/>
	<logger name="*" minlevel="Warn" writeTo="relevant_logs"/>
  </rules>
</nlog>
